In [ ]:
# Überschrift
## Unterüberschrift
das ist Text
- Punkt 1
- Punkt 2
- *Punkt2*

In [1]:
print("Hello World")

Hello World

In [2]:
name = "Lovelace"

In [3]:
print(name)

Lovelace

In [4]:
age = 73

In [5]:
print

In [6]:
print(age)

73

In [7]:
size = 1.7123

In [9]:
# Boolscher Wert
knows_math = True
likes_slacking = False

In [10]:
type (size)

float

In [11]:
type (name)

str

In [12]:
# Operatoren
5 + 5

10

In [13]:
age * 100

7300

In [14]:
name + name

'LovelaceLovelace'

In [15]:
name * name

TypeError: can't multiply sequence by non-int of type 'str'

In [16]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [17]:
name + "10"

'Lovelace10'

In [18]:
name + age

TypeError: can only concatenate str (not "int") to str

In [19]:
name + str(age)

'Lovelace73'

In [20]:
new_number = "10"
int (new_number)

10

In [21]:
type (new_number)

str

In [22]:
# Funktionen und Methoden
len (name)

8

In [23]:
name

'Lovelace'

In [24]:
name.upper ()

'LOVELACE'

In [25]:
name_capital = name.upper ()

In [26]:
name.count ("e")

2

In [27]:
name.count ("E")

0

In [28]:
name.count?

In [29]:
name.replace ("lace", " is everywhere")

'Love is everywhere'

In [30]:
# Listen und Dictionaries

In [1]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [33]:
names [2]

'Curie'

In [34]:
names [0]

'Lovelace'

In [2]:
names [3]

'Hawking'

names [-2]

In [3]:
# Slicing
names [0:3]

['Lovelace', 'Darwin', 'Curie']

In [9]:
# Dictionary
authors_and_birth_years ={"Lovelace": 1882,"London","1903"
                          "Darwin": 1809, 
                          "Noether": 1882}

SyntaxError: invalid syntax (<ipython-input-9-6bdde55b2940>, line 2)

In [5]:
authors_and_birth_years ["Darwin"]

1809

In [6]:
authors_and_birth_years ["Noether"]

1882

In [7]:
authors_and_birth_years ["Lovelace"]

1882

In [10]:
authors_and_birth_years ["lovelace"] [1]

KeyError: 'lovelace'

In [11]:
authors_and_birth_years ={"Lovelace": [1882,"London","1903"],
                          "Darwin": 1809, 
                          "Noether": 1882}

In [12]:
authors_and_birth_years ["Lovelace"]

[1882, 'London', '1903']

In [13]:
authors_and_birth_years ["Lovelace"][1]

'London'

In [14]:
%who

authors_and_birth_years	 names

In [15]:
# for Schleifen 
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [16]:
for name in names: 
    print (name + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [17]:
# conditionals
temp = 20

In [18]:
if temp > 15:
    print ("It is warm")

It is warm

In [19]:
temp > 15

True

In [20]:
20 > 15

True

In [21]:
temp = 10
if temp > 15:
    print ("it is warm")
else:
    print ("it is cold")

it is cold

In [22]:
temp = 10,
if temp == 20:
    print ("it is perfect")
elif temp > 15:
    print ("it is warm")
else:
    print ("it is cold")

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [ ]:
temp = 10,
if temp == 20:
    print ("it is perfect")
elif temp > 15:
    print ("it is warm")
else:
    print ("it is cold")